/**
* @name Peachy Discord
* @description Dynamic Discord theme using Peachy colors
* @source https://github.com/imbypass/base16-Discord
**/

/* Import the base theme */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: {black};
    --color01: {red};
    --color02: {green};
    --color03: {yellow};
    --color04: {blue};
    --color05: {magenta};
    --color06: {cyan};
    --color07: {white};
    --color08: {bright_black};
    --color09: {bright_red};
    --color10: {bright_green};
    --color11: {bright_yellow};
    --color12: {bright_blue};
    --color13: {bright_magenta};
    --color14: {bright_cyan};
    --color15: {bright_white};
}
